{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static '/css/leadership.css' %}" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />

  <body>
    <section class="ourvalues">
      <div class="ourvaluesbody">
        <img src="{% static '/images/leadershipss.png' %}" height="420px" width="100%" alt="" />
        <div class="info">
          <h2>Our Leadership</h2>
        </div>
      </div>
    </section>

    <div class="update_container">
      <div class="to_other_menu_update">
        <div class="card">
          <div class="date">
            <img src="{% static '/images/JiaShou.png' %}" alt="" />
          </div>
          <div class="intro">
            <h2>Loh Jia Shou</h2>
            <p>Chairman and Chief Executive Officer</p>
          </div>
        </div>

        <div class="card">
          <div class="date">
            <img src="{% static '/images/WenZhi.png' %}" alt="" />
          </div>
          <div class="intro">
            <h2>Tang Wen Zhi</h2>
            <p>Chief Operating Officer</p>
          </div>
        </div>
      </div>
    </div>

    <hr class="custom-line" />

    <section class="footer">
      <div class="footerobody">
        <div class="footerbody">
          <div class="footer-content">
            <img src="{% static '/images/logo100.png' %}" alt="" />
            <div class="sugarsense">
              <p>SUGAR SENSE</p>
            </div>
            <p>
              20, Genting Klang, Setapak, Kuala Lumpur<br />Tel: +60 18-218 9169 / +60 11-2769 6820
            </p>

            <div class="icons">
              <a href="#"><i class="bx bxl-meta"></i></a>
              <a href="#"><i class="bx bx-x"></i></a>
              <a href="#"><i class="bx bxl-instagram"></i></a>
              <a href="#"><i class="bx bxl-youtube"></i></a>
            </div>
          </div>

          <div class="footer-content">
            <h4>COMPANY</h4>
            <li>
              <a href="ourvalues">About Us</a>
            </li>
            <li>
              <a href="leadership">Our Leadership</a>
            </li>
            <li>
              <a href="careers">Careers</a>
            </li>
          </div>

          <div class="footer-content">
            <h4>SERVICES</h4>
            <li>
              <a href="prediction">Diabetes Prediction</a>
            </li>
            <li>
              <a href="recommendation">Diet Recommendations</a>
            </li>
            <li>
              <a href="appointment">Appointment Form</a>
            </li>
          </div>

          <div class="footer-content">
            <h4>USERFUL INFO</h4>
            <li>
              <a href="research">Research</a>
            </li>
            <li>
              <a href="contactus">Contact us</a>
            </li>
            <li>
              <a href="profiles">Account Settings</a>
            </li>
            <li>
              <a href="predictionshistory">History</a>
            </li>
          </div>
        </div>
      </div>
    </section>
  </body>
{% endblock %}
