{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static '/css/treatment.css' %}" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />

  <body>
    <section class="ourvalues">
      <div class="ourvaluesbody">
        <img src="{% static '/images/research.png' %}" height="420px" width="100%" alt="" />
        <div class="info">
          <h2>Research</h2>
        </div>
      </div>
    </section>

    <div class="page-container">
      <div class="main-content">
        <div class="research-details2">
          <h3>14 September 2024</h3>
          <h2>Advancements in Treatment</h2>
          <p>Richard DiMarchi's work has led to significant progress in diabetes treatment, including the development of fast-acting insulins like Humalog and medications such as Ozempic and Mounjaro that manage type 2 diabetes without insulin and aid in weight loss.</p>
        </div>

        <section class="researchimage">
          <div class="researchimagebody">
            <img src="{% static '/images/research11.png' %}" height="467px" width="700px" alt="" />
          </div>
        </section>

        <div class="research-details" id="overview">
          <h3>Overview of the Study</h3>
          <p>Richard DiMarchi has made significant contributions to the treatment of diabetes, particularly through the development of fast-acting insulins and novel medications that address both blood sugar control and weight management. His groundbreaking work includes the creation of **Humalog**, a rapid-acting insulin that has greatly improved how patients manage post-meal blood sugar spikes. Additionally, DiMarchi’s research contributed to the development of **Ozempic** and **Mounjaro**, medications that not only improve blood sugar regulation in type 2 diabetes but also promote weight loss. These treatments offer a more comprehensive approach to diabetes management by targeting both insulin sensitivity and obesity, two key factors in managing the condition. DiMarchi’s advancements represent a new era in diabetes care, offering more effective and holistic treatment options that improve patient outcomes and quality of life.</p>
        </div>

        <div class="research-details" id="treatment">
          <h3>Richard DiMarchi’s research has contributed to several groundbreaking treatments, including fast-acting insulins and novel medications for managing type 2 diabetes and so on.</h3>
          <ol type="a">
            <li>
              <strong>Fast-Acting Insulins (e.g., Humalog)</strong>
              <p>One of DiMarchi’s major contributions is the development of Humalog, a rapid-acting insulin that has revolutionized diabetes care. Traditional insulins take longer to begin working, which can make blood sugar management more challenging, especially after meals. Humalog (insulin lispro), introduced in the 1990s, was engineered to work faster than regular insulin, mimicking the body’s natural insulin response more closely.</p>
              <div class="insight">
                <h4>How it works ?</h4>
                <div class="explaination">
                  <p>Humalog is absorbed quickly after injection, which allows it to start working within 15 minutes, peak in about 1 hour, and last for 2 to 4 hours. This fast action helps better control post-meal blood sugar spikes, which is critical for people with diabetes who struggle to regulate blood sugar.</p>
                </div>
              </div>
              <div class="insight">
                <h4>Impacts</h4>
                <div class="explaination">
                  <p>This development made it easier for patients to control their blood sugar with more precision, and it improved quality of life by reducing the risk of long-term complications associated with high blood sugar levels. For people with both type 1 and type 2 diabetes, Humalog provides more flexibility in managing insulin needs throughout the day.</p>
                </div>
              </div>
            </li>
            <li>
              <strong>Ozempic and Mounjaro: Medications for Type 2 Diabetes and Weight Loss</strong>
              <p>DiMarchi’s research also contributed to the development of newer classes of medications that help manage type 2 diabetes without requiring insulin. These include drugs like Ozempic and Mounjaro, which not only improve blood sugar control but also have the added benefit of promoting weight loss—an important consideration in managing type 2 diabetes.</p>
              <div class="insight">
                <h4>Ozempic (Semaglutide)</h4>
                <div class="explaination">
                  <p>Ozempic is a GLP-1 receptor agonist. It mimics the action of a natural hormone called GLP-1, which helps regulate blood sugar levels by

                    Stimulating insulin release in response to meals, Reducing glucose production by the liver, and Slowing down gastric emptying, which helps patients feel fuller for longer and aids in weight loss.</p>
                </div>
              </div>
              <div class="insight">
                <h4>Mounjaro (Tirzepatide)</h4>
                <div class="explaination">
                  <p>Mounjaro is a dual GLP-1 and GIP receptor agonist. It not only targets the GLP-1 receptor but also activates the GIP (Gastric Inhibitory Polypeptide) receptor, further enhancing insulin secretion and helping with the control of blood sugar. Mounjaro is a newer medication that works similarly to Ozempic but with additional benefits due to its dual action.</p>
                </div>
              </div>
            </li>
            <li>
              <strong>Addressing Diabetes and Weight Management</strong>
              <p>One of the key challenges in treating type 2 diabetes is managing both blood sugar levels and weight. Excess weight often worsens insulin resistance, and losing weight can significantly improve blood sugar control. DiMarchi’s development of medications like Ozempic and Mounjaro addresses this challenge by simultaneously helping with weight loss and improving insulin sensitivity. These medications have been a major advancement because they offer people with type 2 diabetes a non-insulin option that can manage both blood sugar and weight.</p>
              <div class="insight">
                <h4>Why this is important</h4>
                <div class="explaination">
                  <p>Type 2 diabetes is strongly linked to obesity, and many people with diabetes struggle to lose weight. Medications that help control blood sugar and support weight loss can improve the effectiveness of diabetes management and reduce the long-term risks associated with obesity and uncontrolled blood sugar, such as heart disease, kidney damage, and nerve damage.</p>
                </div>
              </div>
            </li>
            <li>
              <strong>A New Era in Diabetes Treatment</strong>
              <p>Richard DiMarchi’s contributions have ushered in a new era of diabetes treatment, where a combination of advanced insulin therapies and non-insulin medications offer better outcomes for patients. The options available today allow for more personalized treatment plans, improving the quality of life for people with diabetes and reducing the overall burden of the disease.</p>
            </li>
          </ol>
        </div>

        <div class="research-details" id="conclusion">
          <h3>Conclusion</h3>
          <p>Richard DiMarchi's work has led to significant innovations in diabetes care, such as the development of fast-acting insulins and medications that not only control blood sugar but also help with weight loss. These treatments have drastically improved the ability to manage type 2 diabetes and reduce the risks associated with the disease, providing patients with better tools for managing their condition and living healthier lives.</p>
        </div>

        <div class="references" id="references">
          <h4>References</h4>
          <ol>
            <li>
              MUCH, M., & Daily, I. B. (2024, September 14). How Richard DiMarchi Revolutionized Diabetes Treatment. <em>Investor’s Business Daily</em>.
              <a href="https://www.investors.com/news/management/leaders-and-success/richard-dimarchi-revolutionized-diabetes-treatment/" target="_blank">https://www.investors.com/news/management/leaders-and-success/richard-dimarchi-revolutionized-diabetes-treatment/</a>
            </li>
          </ol>
        </div>
      </div>

      <div class="sticky-sidebar">
        <div class="sidebar-content">
          <h4>Related Informations</h4>
          <ul>
            <li id="others">
              <a href="research">Others Research</a>
            </li>
            <li>
              <a href="#overview" data-scroll="overview">Research Overview</a>
            </li>
            <li>
              <a href="#treatment" data-scroll="treatment">Treatments</a>
            </li>
            <li>
              <a href="#conclusion" data-scroll="conclusion">Conclusion</a>
            </li>
            <li>
              <a href="#references" data-scroll="references">References</a>
            </li>
          </ul>
        </div>
      </div>

      <script>
        window.addEventListener('scroll', function () {
          const sidebar = document.querySelector('.sticky-sidebar')
          const footer = document.querySelector('footer')
          const footerTop = footer.getBoundingClientRect().top
          const sidebarHeight = sidebar.offsetHeight
        
          if (footerTop <= sidebarHeight + 200) {
            // 100 is the top offset
            sidebar.style.position = 'absolute'
            sidebar.style.top = `${footerTop - sidebarHeight}px`
          } else {
            sidebar.style.position = 'sticky'
            sidebar.style.top = '200px'
          }
        })
        
        document.addEventListener('DOMContentLoaded', function () {
          // Add a click event listener to the document
          document.addEventListener('click', function (e) {
            // Check if the clicked element has a 'data-scroll' attribute
            if (e.target.hasAttribute('data-scroll')) {
              e.preventDefault() // Prevent default anchor behavior
        
              // Get the ID of the section to scroll to from the data-scroll attribute
              const targetId = e.target.getAttribute('data-scroll')
              const targetSection = document.getElementById(targetId)
        
              if (targetSection) {
                // Calculate the position of the target section
                const position = targetSection.getBoundingClientRect().top + window.pageYOffset
        
                // Scroll to the target section with an offset
                window.scrollTo({
                  top: position - 90, // Adjust this value for offset
                  behavior: 'smooth'
                })
              }
            }
          })
        })
      </script>
    </div>

    <hr class="custom-line" />

    <section class="footer">
      <div class="footerobody">
        <div class="footerbody">
          <div class="footer-content">
            <img src="{% static '/images/logo100.png' %}" alt="" />
            <div class="sugarsense">
              <p>SUGAR SENSE</p>
            </div>
            <p>
              20, Genting Klang, Setapak, Kuala Lumpur<br />Tel: +60 18-218 9169 / +60 11-2769 6820
            </p>

            <div class="icons">
              <a href="#"><i class="bx bxl-meta"></i></a>
              <a href="#"><i class="bx bx-x"></i></a>
              <a href="#"><i class="bx bxl-instagram"></i></a>
              <a href="#"><i class="bx bxl-youtube"></i></a>
            </div>
          </div>

          <div class="footer-content">
            <h4>COMPANY</h4>
            <li>
              <a href="ourvalues">About Us</a>
            </li>
            <li>
              <a href="leadership">Our Leadership</a>
            </li>
            <li>
              <a href="careers">Careers</a>
            </li>
          </div>

          <div class="footer-content">
            <h4>SERVICES</h4>
            <li>
              <a href="prediction">Diabetes Prediction</a>
            </li>
            <li>
              <a href="recommendation">Diet Recommendations</a>
            </li>
            <li>
              <a href="appointment">Appointment Form</a>
            </li>
          </div>

          <div class="footer-content">
            <h4>USERFUL INFO</h4>
            <li>
              <a href="research">Research</a>
            </li>
            <li>
              <a href="contactus">Contact us</a>
            </li>
            <li>
              <a href="profiles">Account Settings</a>
            </li>
            <li>
              <a href="predictionshistory">History</a>
            </li>
          </div>
        </div>
      </div>
    </section>
  </body>
{% endblock %}
